<%= form_for(current_user.build_following_relationship(@user)) do |f| %>
  <div><%= f.hidden_field :followed_id %></div>
  <%= f.submit "Follow", class: "btn btn-large btn-primary" %>
<% end %>
<% # current_user.relationships.build(followed_id: @user.id)%>